.modal-form-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  animation: fadein 1s;
}

.modal-form-backdrop.hidden {
  display: none;
}

.form-card {
  display: flex;
  max-width: 400px;
  margin: 40px auto;
  background: white;
  border-radius: 3px;
  padding: 40px 0px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-input {
  padding: 9px 10px;
  border-radius: 2px;
  border: 1px solid gray;
  margin: 8px 0;
  font-size: 16px;
}

.form-submit {
  font-weight: 700;
  font-size: 13px;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #f1cfd1;
  color: white;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}