.post-container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #f1cfd1;
  margin-bottom: 40px;
  animation: fadein 1.5s, fadeup 1.5s;
}

.post-img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

.post-info {
  padding: 15px 20px;

  .author-container {
    display: flex;
    
    .avatar-placeholder {
      border-radius: 50%;
      height: 25px;
      width: 25px;
      display: block;
      margin-right: 10px;
    }
  }

  .title {
    margin: 0;
    color:#282828;
    font-family: 'Roboto', san-serif;
    font-size: 20px;
  }

  .description {
    color:#282828;
    font-family: 'Roboto', san-serif;
    margin: 5px 0;
    font-size: 14px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeup {
  from { transform: translateY(30px); }
  to { transform: translateY(0px); }
}