body {
  margin: 0;
  background-color: #ededed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  position: relative;
}

.nav {
  text-align: center;
  padding: 20px 0;
  background-color: #E4ABAE;
  border-bottom: 1px solid #f6e5e6;

  .title {
    color: #f6e5e6;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
  }
}

.posts-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 50px;
}

.modal-toggle {
  background: transparent;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  margin-top: 10px;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  outline: none;
}